html, body {
    height: 100%;
    margin: 0;
}

header {
    width: 100%;
    height: 100px;
    background: #ffffff;    
    border: #cccccc;
}

#header_logo {
    float: left;
    text-align: center;
    background: #4aaaa5;
    width: 20%;
    height: 60px;
    padding-top: 40px;
    font-family: serif;
    font-size: 28px;
    color: #ffffff;
}

.li1 {
    float: right;
    margin: 8px;
    text-decoration-style: none;
    text-decoration-line: none; 
    padding-top: 30px;
    color: #666666;
    font-family: sans-serif;
}

.wrapper {
    width: 960px;
    min-height: 100%;
    margin: 0 auto;
    margin-bottom: -75px;
    overflow: auto;
}

#profile_picture {
    width: 30%;
    height: 25%;
}

/* Lots of Bigly things */
h1 {
    font-size: 24px;
    color: #4aaaa5;
}

h2 {
    font-size: 20px;
    color: #4aaaa5;
}
hr {
    width: 75%;
    align: center;
}

p {
    font-family: sans-serif;
    line-height: 25px;
}

/* Floats */
.floatleft {
    float: left;
    background: #ffffff;
    border: #dddddd;
    margin-top: 50px;
    margin-right: 18px;
    text-align: left;
}

.maincontentwidth {
    width: 650px;
    height: auto 0;
}

.floatright {
    float: right;
    width: 270px;
    background: #ffffff;
    border: #dddddd;
    margin-top: 50px;
    text-align: center;
}

body {
    width: 100%;
    height: auto 0;
    background: rgb(180, 180, 180);
}

/* Portfolio */
.column1 {
    float: left;
    padding-right: 20px;
}

.comlumn2 {
    float: right;
}
/* Input Form Style */
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #666666; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-bottom: 16px; 
    resize: vertical
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
/* End Input Form Style */

#footer {
    text-align: center;
    color: #ffffff;
    padding-top: 40px;
}

footer {
    width: 100%;
    height: 100px;
    background: #666666;
}

.footer,
.push {
    height: 100px;
}

